body,
html {
  margin: 0 auto;
  height: 100%;
  font-family: "Lato", sans-serif;
  color: #777;
}
@media screen and (max-width: 500px) {
  body,
  html {
    font-size: 24px;
  }
}
@media screen and (max-width: 400px) {
  body,
  html {
    font-size: 20px;
  }
}

.paral-image-1 .container, .paral-image-2 .container, .paral-image-3 .container {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  height: 100%;
}

.page-wrapper #paragraph-1 {
  text-align: justify;
  color: #777;
  background-color: #fff;
  padding: 50px 80px;
}
.page-wrapper #paragraph-1 h3 {
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 500px) {
  .page-wrapper #paragraph-1 {
    padding: 50px 25px;
    text-align: left;
  }
}
@media screen and (max-width: 400px) {
  .page-wrapper #paragraph-1 {
    padding: 10px 19px;
  }
}
.page-wrapper #paragraph-2 {
  position: relative;
}
.page-wrapper #paragraph-2 p {
  margin: 0px;
  color: #ddd;
  background-color: #282e34;
  padding: 50px 80px;
  text-align: justify;
}
@media screen and (max-width: 500px) {
  .page-wrapper #paragraph-2 p {
    padding: 50px 25px;
    text-align: left;
  }
}
@media screen and (max-width: 400px) {
  .page-wrapper #paragraph-2 p {
    padding: 10px 19px;
  }
}

.content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  top: 50%;
  text-align: center;
}
.content #caption-text {
  background: #111;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 10px;
  display: inline;
}
@media screen and (max-width: 400px) {
  .content #caption-text {
    padding: 10px;
    font-size: 15px;
    letter-spacing: 7px;
  }
}

.paral-image-1 {
  height: 100%;
}
.paral-image-1 .container {
  background-image: url("../images/parallal-1.jpg");
}

.paral-image-2 {
  height: 100%;
}
.paral-image-2 .container {
  background-image: url("../images/parallal-2.jpg");
}

.paral-image-3 {
  height: 100%;
}
.paral-image-3 .container {
  background-image: url("../images/parallal-3.jpg");
}
