$font-content: "Lato",
sans-serif;
$mobile:400px;
$tab:500px;
body,
html {
    margin: 0 auto;
    height: 100%;
    font-family: $font-content;
    color: #777;
    @media screen and (max-width: $tab) {
        font-size: 24px;
    }
    @media screen and (max-width: $mobile) {
        font-size: 20px;
    }
}

%paral-image-attr {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
}

.page-wrapper {
    #paragraph-1 {
        text-align: justify;
        color: #777;
        background-color: #fff;
        padding: 50px 80px;
        h3 {
            text-align: center;
            text-transform: uppercase;
        }
        @media screen and (max-width: $tab) {
            padding: 50px 25px;
            text-align: left;
        }
        @media screen and (max-width: $mobile) {
            padding: 10px 19px;
        }
    }
    #paragraph-2 {
        position: relative;
        p {
            margin: 0px;
            color: #ddd;
            background-color: #282e34;
            padding: 50px 80px;
            text-align: justify;
            @media screen and (max-width: $tab) {
                padding: 50px 25px;
                text-align: left;
            }
            @media screen and (max-width: $mobile) {
                padding: 10px 19px;
            }
        }
    }
}

.content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 50%;
    text-align: center;
    #caption-text {
        background: #111;
        color: #fff;
        padding: 20px;
        font-size: 20px;
        letter-spacing: 10px;
        display: inline;
        @media screen and (max-width: $mobile) {
            padding: 10px;
            font-size: 15px;
            letter-spacing: 7px;
        }
    }
}

@for $i from 1 through 3 {
    .paral-image-#{$i} {
        height: 100%;
        .container {
            @extend %paral-image-attr;
            background-image: url("../images/parallal-#{$i}.jpg");
        }
    }
}
